*{
    margin:0;
    padding: 0;
    /* Schriftart noch einmal ändern */
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/background/background_berlin_copyright.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */
/* div{
    flex: 200px;
} */
 /*nav definiert vielleicht für nummer 2 nur div  */
nav{
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:#fff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.text-box h1{
    font-size: 70px;
}
.text-box p{
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 50px;
    font-size: 35px;
    color: #fff;
}

/* Flaggen funktionieren noch nicht oben links */
/* .icons .fib {
    text-align: left;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 13px;
    cursor: pointer;
    padding: 18px;
} */
nav .fa{
    display:none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;
    }
    .text-box p {
        font-size: 20px;
    }
    .nav-links ul li{
        display: block
    }
    .nav-links{
        position: absolute;
        background: rgb(241, 17, 13);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; 
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* --- blog --- */

.pb-100 {
	padding-bottom: 100px;
}
.pt-100 {
	padding-top: 100px;
}
.mb-100 {
	margin-bottom: 100px;
}
a {
	text-decoration: none;
	color: #333;
	-webkit-transition: .4s;
	transition: .4s;
}
.section-title {
	position: relative;
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h4 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	display: inline-block;
}
.section-title h4::before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color:rgb(241, 17, 13);
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.blog-img {
	position: relative;
}
.blog-img img {
	width: 100%;
}
.post-category a {
	display: inline-block;
	background-color: rgb(241, 17, 13);
	color: #fff;
	font-size: 15px;
	padding: 5px 20px;
}
.single-blog:hover img {
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"
}
.post-category {
	position: absolute;
	left: 0;
	bottom: 0;
}
.blog-content {
	padding: 30px 20px;
}
.single-blog {
	border: 1px solid #eee;
}
.blog-title h4 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 5px;
}
.meta ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.meta {
	margin-bottom: 20px;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.blog-content a.box_btn {
	display: inline-block;
	background-color: rgb(241, 17, 13);
	padding: 5px 15px;
	color: #fff;
	text-transform: capitalize;
	margin-top: 20px;
}
a.box_btn::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgb(241, 17, 13);
	left: -100%;
	top: 0;
	-webkit-transition: .5s;
	transition: .5s;
	z-index: -1;
}
a.box_btn {
	overflow: hidden;
	z-index: 2;
	-webkit-transition: .5s;
	transition: .5s;
	position: relative;
	text-decoration:none;
}
a.box_btn:hover::before {
	left: 0;
	z-index: -1;
}

/* ---single blogs ---- */
.blog{
    background-image: url(images/background/background_berlin_morgens.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    padding: 10px;
}
.blog h1, h4{
    text-align: left;
}
.blog h1{
    font-size: 40px;
}
.blog h4{
    font-size: 20px;
}
.blog p {
    margin: 40px;
    font-size: 20px;
    font-display: center;
}