*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/background/background_berlin_copyright.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */
/* div{
    flex: 200px;
} */
 /*nav definiert vielleicht für nummer 2 nur div  */
nav{
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:#fff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.text-box h1{
    font-size: 70px;
    text-shadow: 2px 2px  rgb(96, 18, 88);
}
.text-box p{
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 50px;
    font-size: 35px;
    color: #fff;
    text-shadow: 2px 2px rgb(96, 18, 88);
}

/* Flaggen funktionieren noch nicht oben links */
.icons .fib {
    text-align: left;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 13px;
    cursor: pointer;
    padding: 18px;
}
nav .fa{
    display:none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;
    }
    .text-box p {
        font-size: 20px;
    }
    .nav-links ul li{
        display: block
    }
    .nav-links{
        position: absolute;
        background:#aa99ae;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; 
    }
    .nav-links ul{
        padding: 30px;

    }
}
/* ------- projects -------  */
.projects{
    width: 80%;
    min-height: 100vh;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.projects-row{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}

.projects-col{
    flex-basis: 32%;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden; 
}
.projects-col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.projects-col p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    transition: 0.5s;
}
.layer:hover{
    background: #aa99ae;
    opacity: 0.8;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
@media(max-width: 700px){
    .projects-row{
        flex-direction: column;
    }
}

/* ----------VITA--------- */
.vita{
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-color: grey;
    background-size: cover;
    position: relative;
}
.vita-row {
    /* margin-top:5%; */
    display: flex;
}
.vita-col{
    /* display: flex; */
    flex-direction: column;
    /* space-between */
    justify-content: center; 
    text-align: center; 
    flex-basis: 32%;
    align-self:center;
    padding: 1%;
    position: relative;
    overflow: hidden;  
    border-radius: 10px;
}
.vita-col img{
    width:100%;
    height: auto;
    /* flex-grow:1; */
    /* flex-shrink: 1; */
    border-radius: 20px;
    object-fit: cover;
    display: center;
    /* text-align: center; OBEN UND UNTEN AUCH NOCH MITTE */
}
.vita-col svg{
    width: 70%;
    height: auto;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* width: 200px;
    height:400px; */
    object-fit: cover;
    display: center;
    /* text-align: center; */
}
/* .vita-col svg text{
    font-family: 'Poppins', sans-serif;
    flex: 1;
    background-color: #333;
    color: #fff;
    transition: all 0.5s ease-out;
}
.vita-col svg text:hover, .vita-col svg text:focus {
    background-color: #fff;
    color: #333;
} */
.vita-col svg text {
    font-family: 'Poppins', sans-serif;
}
    
.vita-col p{
    text-align:center;
    color: #fff;
    font-size: 1vw;
    /* flex-grow: 2; */
    text-shadow: 1px 1px rgb(84, 83, 83);
}

/* Wordcloud noch einzelne Wörter herausstellen DANKE! */
/* .wordcloud .word{
    transition: all 2s ease;
}
.word:hover{
    font-size: 50px;
    transform: translateZ(100px);
    animation: fly 0.7s forwards;
}
@keyframes fly {
    from {
        transform: translateZ(0);
    }
    to {
        transform: translateZ(100px);
    }
} */
/* WITH javascript in the html */
/* svg text {
    transition: transform 0.7s;
    /* color: darkblue; */
/* }
  svg text.active {
    transform: scale(1.5);

    color: darkblue;
    text-align: center;
  } */ */
/* .wordcloud {
    position: relative;
  } */
  
/* .word {
    /* display: inline-block; */
    /* padding: 8px;
    margin: 8px; */
    /* transition: all 1.7s ease;
    transition-property: transform, color; */
  /* } */
  
/* .word:hover {
    background: black;
    color: white; */
    /* transform: translate(50%, 50%); */
    /* text-shadow: 0 -1.5em 0 rgba(255, 255, 255, 0.15); */
    /* color: rgb(3, 3, 59); */
    /* position: absolute;
    left: 50%;
    top: 50%; */
  /* } */
.word {
    font-size: 32px;
    color:grey;
}
  
.word:hover {
    transform: rotate(360deg);
    transition: 1s;
    color: white;
}

@media(max-width: 700px){
    .vita-row {
        flex-direction: column;
    }
}

/* -----milestone-------- */
/* .milestone{
    width: 100%;
    min-height: 100vh;
    background-position: center;
    /* background-color: grey; */
    /* background-size: cover;
    position: relative;
} */
.milestone h1{
    color: black;
    font-size: 24px;
} */
/* -------- footer ----  */
.footer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.footer h4{
    text-align: center;
    /* margin-bottom: 26px;
    margin-top: 20px; */
    font-weight: 600;
    color: rgb(117, 116, 116);
}
.icons i{
    text-align: center;
}
.icons .fa{
    color: rgb(168, 166, 166);
    margin: 0 13px;
    text-align: center;
    cursor: pointer;
    padding: 18px 0;
}
/* -----impressum---- */
.impressum {
    text-align: center;
    color: grey;
}

/* ----- slider----- */
.slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
}
.slider input[type=radio] {
    display: none;
}
.slider label {
    cursor: pointer;
    text-decoration: none;
}
.slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
}
.overflow {
    width: 100%;
    overflow: hidden;
}
.slide1:checked ~ .slides .inner {
    margin-left: 0;
}
.slide2:checked ~ .slides .inner {
    margin-left: -100%;
}
.slide3:checked ~ .slides .inner {
    margin-left: -200%;
}
.slide4:checked ~ .slides .inner {
    margin-left: -300%;
}
.slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
}
.slides .slide {
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    color: #fff;
}
.slides .slide_1 {
    background: #00171F;
}
.slides .slide_2 {
    background: #003459;
}
.slides .slide_3 {
    background: #007EA7;
}
.slides .slide_4 {
    background: #00A8E8;
}
.slide-content {
    padding: 10px;
}
.controls {
    margin: -130px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}
.controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}
.controls label:hover {
    opacity: 1;
}
.slide1:checked ~ .controls label:nth-child(2),
.slide2:checked ~ .controls label:nth-child(3),
.slide3:checked ~ .controls label:nth-child(4),
.slide4:checked ~ .controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float: right;
    margin: 0 -50px 0 0;
    display: block;
}
.slide1:checked ~ .controls label:nth-child(2),
.slide2:checked ~ .controls label:nth-child(3),
.slide3:checked ~ .controls label:nth-child(4),
.slide4:checked ~ .controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float: left;
    margin: 0 0 0 -50px;
    display: block;
}
.bullets {
    margin: 100px 0 0;
    text-align: center;
}
.bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}
.slide1:checked ~ .bullets label:nth-child(1),
.slide2:checked ~ .bullets label:nth-child(2),
.slide3:checked ~ .bullets label:nth-child(3),
.slide4:checked ~ .bullets label:nth-child(4) {
    background: #444;
}
@media screen and (max-width: 900px) {
    .slide1:checked ~ .controls label:nth-child(2),
    .slide2:checked ~ .controls label:nth-child(3),
    .slide3:checked ~ .controls label:nth-child(4),
    .slide4:checked ~ .controls label:nth-child(1) {
        background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
        float: right;
        margin: 0 -50px 0 0;
        display: block;
    }
}